
        body
        {
            /* background-color: #FFF8DC; */
            background-image: linear-gradient(to right, #9AA4EC , violet);
        }
        .heading
        {
            margin-top:10px;
            color: rgb(204, 18, 221);
            font-family: "Times New Roman", Times, serif;
        }
        .container
        {
            
           margin-top:30px;
            font-family: "Times New Roman", Times, serif;
        }
        .table
        {
            margin-top:0px;
        }

    