
body	
{
    /* background-color:#9AA4EC; */
    background-image: linear-gradient(to right, #9AA4EC , violet);
}
.form1{

	/* margin-top: 50px;
	margin-left: 300px;
	margin-right: 300px; */
	max-width: 600px;
	margin: auto;
	margin-top:20px;
}

.required:after {
    content:" *";
    color: red;
}
.heading
        {
            margin-top:20px;
            color: rgb(204, 18, 221);
            font-family: "Times New Roman", Times, serif;
        }


